header{
    background-color: #f40808;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.photo_style{
    position: relative;
    width: calc(100%,650px);
    height: 24.24em;
    left: 50%;
    overflow: hidden;
}
.carousel-control-prev-icon{
    color:rgb(244, 11, 11);
    background-color: rgb(252, 10, 10);
    }
.carousel-control-next-icon{
        color:black;
        background-color: black;
    }